@font-face {
  font-family: Neucha-Regular;
  src: url(../fonts/Neucha-Regular.ttf);
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Neucha-Regular;
  font-weight: 400;
  color: #4f4f4f;
  background-color: transparent;
}

svg {
  overflow: visible;
  z-index: -1;
}

.container {
  width: 515px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.zone {
  width: 200px;
  height: 50px;
  margin-top: 12px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.zone:first-child {
  margin: 0px;
}

.zone:hover,
.active {
  background: #e0e0e0;
}

.checked {
  background: #e0e0e0;
}

.point {
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #bdbdbd;
  position: absolute;
  top: calc(50% - 10px);
}

.zone.checked .point::before,
.zone.active .point::before,
.zone:hover .point::before {
  background: #828282;
}

.zone.checked .point::before,
.zone.active .point::before,
.zone:hover .point::before {
  content: '';
  width: 16px;
  height: 16px;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
}

.left-point {
  right: -30px;
}

.right-point {
  left: -30px;
}

/*-----------*/

.bad {
  background: #fbefef !important;
}

.good {
  background: #e9fae2 !important;
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 480px;
  z-index: 2;
  user-select: none;
  display: none;
}
