@font-face {
  font-family: Neucha-Regular;
  src: url(../fonts/Neucha-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Neucha-Regular;
  font-weight: 400;
  color: #4f4f4f;
  background-color: transparent;
}

svg {
  overflow: visible;
  z-index: -1;
}

.container {
  width: 515px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.zone {
  width: 200px;
  height: 50px;
  margin-top: 12px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.zone:first-child {
  margin: 0px;
}

.zone:hover,
.active {
  background: #e0e0e0;
}

.disable {
  user-select: none;
  cursor: default;
}

.zone.disable:hover {
  background: #f2f2f2;
}

.checked {
  background: #e0e0e0;
}

.zone.disable.checked,
.zone.disable.checked:hover {
  background: #e0e0e0;
  user-select: none;
  cursor: default;
}

.point {
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #bdbdbd;
  position: absolute;
  top: calc(50% - 10px);
}

.zone.checked .point {
  background: #828282;
}

.zone.checked .point::before {
  content: '';
  width: 16px;
  height: 16px;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
}

.left-point {
  right: -30px;
}

.right-point {
  left: -30px;
}

/*-----------*/

.buttons {
  margin-top: 60px;
  width: 515px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.answer,
.reload {
  padding: 18px 27px;
  width: 257px;
  height: 68px;
  box-sizing: border-box;
  background: #83fa52;
  text-align: center;
  color: black;
  font-size: 26px;
  line-height: 28px;
  cursor: pointer;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
  border-radius: 48px;
  transition: background-color 0.5s ease;
}

.answer:hover,
.reload:hover {
  background: #fca700;
}

.text {
  width: 515px;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}

.bad {
  background: #fbefef !important;
}

.good {
  background: #e9fae2 !important;
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 480px;
  z-index: 2;
  user-select: none;
  display: none;
}
